[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
v = {editable = true,version = "*"}
rope = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
boto3 = "*"

[requires]
python_version = "3.6"
